@import "./reset.css";
@import "./day-night.css";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  --main-color: #000;
  --main-placeholder: rgba(0, 0, 0, 0.5);
  --main-shadow: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Inter", system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.header {
  font-weight: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  padding: 25px 25px 0;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo-animation {
  color: var(--main-color);
  font-size: 50px;
  animation: movingLogo 10s infinite linear;
}

@keyframes movingLogo {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.weather-container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.main-type {
  font-size: 16px;
  font-weight: 100;
}

.form {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 25px;
  width: 350px;
  height: 50px;
  transition: box-shadow 0.5s;
}

.form:focus-within {
  box-shadow: inset 300px 0 0 var(--main-shadow);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form__input {
  flex-grow: 1;
  padding: 0 10px;
  color: #fff !important;
}

.form__btn {
  border: none;
  color: var(--main-color);
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.weather__img {
  width: 400px;
}

.weather__temp {
  font-size: 90px;
  font-weight: 500;
}

.weather-container2 {
  text-align: center;
}

.weather__details {
  display: flex;
  gap: 50px;
}

.details {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.details__img {
  height: 40px;
  margin-right: 10px;
  color: #000;
  background-color: #000;
}

.details__title {
  font-weight: 100;
}

.logo {
  width: 80px;
}

.none {
  display: none !important;
}

.weather__info {
  margin-bottom: 50px;
}

.details i {
  font-size: 40px;
}

.weather__city {
  font-size: 24px;
}

@media screen and (max-width: 650px) {
  .weather-container {
    flex-direction: column;
    gap: 10px;
  }

  .weather__img {
    width: 200px;
  }
  .weather__temp {
    font-size: 50px;
  }
}
